.playlists {
  margin: 0 auto;
  width: 90rem;
  background-color: rgb(245, 245, 245);
  display: flex;
  padding: 20px;
  flex-direction: column;
  
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlists img {
  width: 200px;
  height: 200px;
}


.cards-container {
    display: flex;
    justify-content: space-between;
}

.box {
  height: 400px;
  display: flex;
  flex-direction: column;
 
}


.track-container {
    display: flex;
    margin-bottom: 50px;

    
}

.track-container img {
    width: 150px;
    height: 150px;
}


.box2 {
    margin-right: 30px;
    
    
}

.icons {
  font-size: 1.5rem;
  color: black;
}
